body {
  font-family: 'Optima', 'Arial', 'Helvetica', 'sans-serif';
}

pre {
  margin-left: 30px;
}

.mapInLesson {
  color: rgb(253, 46, 46);
}

#mapLesson {
  font-size: 1em;
}

.map-lesson-highlight {
   background: rgb(228, 246, 255);
}

.functionName {
  padding-right: 5px;
  padding-left: 5px;
}

.int {
  padding-right: 2px;
  padding-left: 2px;
}

.lines {
  font-family: monospace;
  padding: 1em;
  box-shadow: 0 0 3px #777;
  margin-top: 1em;
}
.line {
  width: 80%;
}

.lines-edit {
  font-size: 1em;
  color: #777;
  margin-left: 1em;
  display: none;
  cursor: pointer;
  text-decoration: underline;
}
.line:hover .lines-edit {
  display: inline;
}

.line.span {
  font-size: 23px;
}

.line-highlight {
  background: #fee;
}
.line-inner {
  position: relative;
}
.line-context {
  font-size: 1em;
  position: absolute;
  bottom: 0;
  right: 0px;
  color: #777;
  background: #fee;
  white-space: pre-line;
  padding: 0 5px;
}

.application-applicable:hover {
  background: #fcc;
  cursor: pointer;
}

.application-highlight-clicked-computation,
.node-highlight-just-computed {
  background: #fcc;
}

.lines-animation-enter {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s, transform 0.15s;
}
.lines-animation-enter-active {
  opacity: 1;
  transform: translateY(0);
}
.lines-animation-leave {
  transition: opacity 0.1s, transform 0.3s;
}
.lines-animation-leave-active {
  opacity: 0;
  transform: translateY(200%);
}

input {
  margin: 0;
  padding: 0;
  font: 1em monospace;
  border: none;
  outline: none;
  background: none;
}
input.input-error {
  outline: 1px solid red;
}

.help-text {
  font: 0.7em Helvetica, sans-serif;
  margin-top: 0.5em;
  color: #777;
  width: 175px;
  text-align: center;
}

.function-editor-link {
  color: #777;
  cursor: pointer;
  text-decoration: underline;
  position: fixed;
  top: 5px;
  right: 10px;
}
.function-editor {
  position: fixed;
  top: 30px;
  right: 10px;
  height: 300px;
  width: 20%;
  font: 1em monospace;
  border: 1px solid #ccc;
  padding: 10px;
}
.function-editor-error {
  outline: 1px solid red;
}
