.functionName {
  padding-right: 5px;
  padding-left: 5px;
  color: brown;
}

.int {
  padding-right: 2px;
  padding-left: 2px;
}

.lines {
  font-family: monospace;
}

.application-applicable:hover {
  background: yellow;
  cursor: pointer;
}
