body {
  font-family: 'Optima', 'Arial', 'Helvetica', 'sans-serif';
}

a {
  color: gray;
}

pre {
  margin-left: 30px;
}

.mapInLesson {
  color: rgb(253, 46, 46);
}

.foldInLesson {
  color: blue;
}

.foldlInLesson {
  color: green;
}

.foldrInLesson {
  color: rgb(255, 100, 224);
}

#mapLesson {
  font-size: 1em;
}

.lesson-highlight {
   background: rgb(228, 246, 255);
}

.int {
  padding-right: 2px;
  padding-left: 2px;
}

.lines {
  font-family: monospace;
  padding: 1em;
  margin: 5em;
  /*box-shadow: 0 0 1.5px #777;*/
  margin: 1em 0;

  min-height: 220px;
}

#mapLines .lines {
  border: 1px solid rgb(253, 46, 46);
}

#foldrLines .lines {
  border: 1px solid rgb(255, 100, 224);
}

#foldlLines .lines{
  border: 1px solid green;
}

.lines-edit {
  font-size: 1em;
  color: #777;
  margin-left: 1em;
  cursor: pointer;
  text-decoration: underline;
}

.line.span {
  font-size: 23px;
}

.line-highlight {
  background: #fee;
}
.line-inner {
  position: relative;
}
.line-context {
  font-size: 1em;
  position: absolute;
  bottom: 0;
  right: 0px;
  color: #777;
  background: #fee;
  white-space: pre-line;
  padding: 0 5px;
}

.application-applicable:hover {
  background: #fcc;
  cursor: pointer;
}

.application-highlight-clicked-computation,
.node-highlight-just-computed {
  background: #fcc;
}

.lines-animation-enter {
  opacity: 0;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: none;
  transition: opacity 0.3s, transform 0.15s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.15s;
  -moz-transition: opacity 0.3s;
}
.lines-animation-enter-active {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: none;
}
.lines-animation-leave {
  transition: opacity 0.1s, transform 0.3s;
  -webkit-transition: opacity 0.1s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.1s;
}
.lines-animation-leave-active {
  opacity: 0;
  transform: translateY(200%);
  -webkit-transform: translateY(200%);
  -moz-transform: none;
}

.line-editing-container {
  position: relative;
}
.line-editing-error {
  position: absolute;
  top: 1.5em;
  background: #fcc;
}

input {
  margin: 0;
  padding: 0;
  font: 1em monospace;
  border: none;
  outline: none;
  background: none;
}
input.input-error {
  outline: 1px solid red;
}

.help-text {
  font: 0.7em Helvetica, sans-serif;
  margin-top: 0.5em;
  color: #777;
  width: 175px;
  text-align: center;
}

.function-editor-link {
  color: #777;
  cursor: pointer;
  font: 1em monospace;
  padding-left: 10px;
}

.function-editor-title {
  color:rgb(149, 105, 196);;
  font-weight:bold;
}

.function-editor-title-big{
  font-size: 1.3em;
}

.function-editor-top {
  position: fixed;
  top: 5px;
  left: 76.5%;
}

.function-editor {
  box-shadow: 0 0 1.5px #777;
  position: fixed;
  top: 30px;
  right: 10px;
  height: 95%;
  width: 23%;
  font: 1em monospace;
  border: 1px solid #ccc;
  padding: 10px;
}

.function-editor:focus {
 box-shadow: 0 0 4px #007AFF;
 outline:none;
}

.function-editor-error {
  outline: 1px solid red;
}
