.functionName {
  padding-right: 5px;
  padding-left: 5px;
}

.int {
  padding-right: 2px;
  padding-left: 2px;
}

.lines {
  font-family: monospace;
}

.line-highlight {
  background: #fee;
}
.line-inner {
  position: relative;
  max-width: 800px;
}
.line-context {
  position: absolute;
  top: 0;
  right: 0px;
  color: #777;
}

.application-applicable:hover {
  background: #fcc;
  cursor: pointer;
}

.application-highlight-clicked-computation,
.node-highlight-just-computed {
  background: #fcc;
}

.lines-animation-enter {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s, transform 0.15s;
}
.lines-animation-enter-active {
  opacity: 1;
  transform: translateY(0);
}
